{% extends 'core/base.html' %}

  {% block content %}
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <h1 class="title">
            Edit Profile
          </h1>
          
          {% if user.user_profile.avatar %}
            <figure class="image is-128x128">
              <img src="{{ user.user_profile.avatar.url }}" style="border-radius: 50%;" alt="">
            </figure>
          {% endif %}

          <hr>

          <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="fieldWrapper">
              {% for field in form %}
                <div class="field">
                  <!-- label -->
                  <label class="label">
                    {{ field.label_tag }}
                  </label>

                  <!-- input field -->
                  <div class="control">
                    {{ field }}
                  </div>

                  {% if field.label == 'Avatar' %}
                    <p class="image is-64x64">
                      <img id="image_preview" alt="your image" style="border-radius: 50%;"/>
                    </p>
                  {% endif %}
                </div>
                
                <!-- errors -->
                <p style="color: red;">
                  {{ field.errors|escape }}
                </p>

                <!-- helper texts -->
                {% if field.help_text %}
                  <li class="help">{{ field.help_text|safe }}</li>
                {% endif %}
              
              {% endfor %}
            </div>

            <p style="color: red;">
              {{ form.non_field_errors }}
            </p>

            <div class="field">
              <p class="control">
                <button class="button is-success" type="submit">Save changes</button>
                
                <a href="{% url 'user_profile' request.user.username %}">
                  <button class="button is-default" type="button">Cancel</button>
                </a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block script %}
    <script>
      window.onload = async function () {
        // preview for selected img
        const fileUpload = document.getElementById('id_avatar')
        const previewElement = document.getElementById('image_preview')
        previewElement.style.display = 'none'

        fileUpload.addEventListener('change', () => {
          const selectedFile = fileUpload.files[0]
          let binaryData = [];
          binaryData.push(selectedFile);
          const src = window.URL.createObjectURL(new Blob(binaryData, {type: "application/zip"}))
          if(src) {
            previewElement.src = src
            previewElement.style.display = 'inline-block'
          }
        })
      }
      
    </script>
  {% endblock %}