{% extends 'core/base.html' %}

  {% load humanize %}

  {% block content %}
    <div class="container" id="user_profile_app">
      <div class="columns">
        <div class="column is-12">
          <h1 class="title">
            {{ user.first_name }} {{ user.last_name }} @{{ user.username }}'s Profile
          </h1>

          {% if user.user_profile.avatar %}
            <figure class="image is-128x128">
              <img src="{{ user.user_profile.avatar.url }}" style="border-radius: 50%;" alt="">
            </figure>
          {% endif %}

          <hr>

          <p>
            <!-- link to user's followers list -->
            <a href="{% url 'followers' user.username %}">
              Followers: {{ user.user_profile.followed_by.count }}
            </a>
          </p>
          
          <p>
            <!-- link to user's followings list -->
            <a href="{% url 'followings' user.username %}">
              Following: {{ user.user_profile.follows.count }}
            </a>
          </p>

          {% if user != request.user %}
            <!-- send message to other users -->
            <a href="{% url 'conversation' user.id %}" class="button is-info">
              Send message
            </a>
            {% if request.user.user_profile in user.user_profile.followed_by.all %}
              <a href="{% url 'unfollow_user' user.username %}" class="button is-danger">
                Unfollow
              </a>
            {% else %}
              <a href="{% url 'follow_user' user.username %}" class="button is-success">
                Follow
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>

      <div class="columns">
        <div class="column is-12">
          <div class="wrapper-tweets">
            {% for tweet in tweets %}
              <div class="tweet">
                <!-- display all tweets in a container each -->
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      {% if user.user_profile.avatar %}
                        <img src="{{ user.user_profile.avatar.url }}" alt="" style="border-radius: 50%;">
                      {% endif %}
                    </p>
                  </figure>

                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>
                          {{ tweet.created_by.first_name }} {{ tweet.created_by.last_name }} @{{ tweet.created_by.username }}
                        </strong>
                        <small>
                          {{ tweet.created_at|naturaltime }}
                        </small>

                        <br>

                        {{ tweet.body|urlize }}

                        <div style="display: flex; align-items: center;">
                          <span 
                            style="cursor: pointer;" 
                            class="material-icons-outlined" 
                            @click="likeTweet({{ tweet.id }})" 
                            v-if="!liked_tweets.includes({{ tweet.id }})"
                          >
                            favorite_border
                          </span>
                          
                          <span 
                            style="cursor: pointer; color: red; padding: 0 0;" 
                            class="material-icons-outlined" 
                            @click="unlikeTweet({{ tweet.id }})" 
                            v-if="liked_tweets.includes({{ tweet.id }})"
                          >
                            favorite
                          </span>

                          <small 
                            style="margin-left: 5px;" 
                            id="likes-{{ tweet.id }}"
                          >
                            {% if tweet.likes.count > 1 %}
                              {{ tweet.likes.count }} likes
                            {% else %}
                              {{ tweet.likes.count }} like
                            {% endif %}
                          </small>
                        </div>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block script %}
	<script>
		new Vue({
			el: '#user_profile_app',

			delimiters: ['[[', ']]'],
			
			data () {
				return {
          liked_tweets: [{% for tweet in tweets %}{% if tweet.liked %}{{ tweet.id }},{% endif %}{% endfor %}]
				}
			},

			methods: {

				// action on clicking like
				likeTweet(tweet_id) {
          const el = document.getElementById('likes-' + tweet_id)
					let likes = parseInt(el.innerText.split(' ')[0])
					this.liked_tweets.push(parseInt(tweet_id))

					var tweet = {
						'tweet_id': tweet_id
					}
					
					// api call to add like
					fetch('/api/add_like/', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': '{{ csrf_token }}'
						},
						credentials: 'same-origin',
						body: JSON.stringify(tweet)
					})
					.then((response) => {
						// on success, increment count
					  likes += 1
            if(likes > 1)
              el.innerHTML = parseInt(likes) + ' likes'
            else
              el.innerHTML = parseInt(likes) + ' like'

            window.location.reload(true)
					})
					.catch((error) => {
            console.log(error)
					})
				},

        // action on clicking unlike
				unlikeTweet(tweet_id) {
					const el = document.getElementById('likes-' + tweet_id)
					let likes = parseInt(el.innerText.split(' ')[0])
					
					// find index of tweet and remove from list of likes
					let tweetIdIdx = this.liked_tweets.findIndex(t => t == tweet_id)
					this.liked_tweets.splice(tweetIdIdx, 1)

					var tweet = {
						'tweet_id': tweet_id
					}
					
					// api call to delete like
					fetch('/api/delete_like/', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': '{{ csrf_token }}'
						},
						credentials: 'same-origin',
						body: JSON.stringify(tweet)
					})
					.then((response) => {
						// on success, decrement count
						likes -= 1
            if(likes > 1)
              el.innerHTML = parseInt(likes) + ' likes'
            else
              el.innerHTML = parseInt(likes) + ' like'

            window.location.reload(true)
					})
					.catch((error) => {
						console.log(error)
					})
				},
			},

			created() {}
		})
	</script>
{% endblock %}