<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <title>Twitter-Clone</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar is-info" role="navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <strong>
          Twitter
        </strong>
      </a>

      <a href="" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>

  <!-- content -->
  <section class="section">
    {% block content %}

    {% endblock %}
  </section>
</body>
</html>