{% extends 'core/base.html' %}

  {% block content %}
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <div style="display: flex; place-content: center;">
            <h1 class="title">
              Welcome to Chit-Chatter 👋
            </h1>
          </div>
        </div>
      </div>

      <div style="display: flex; place-content: center;">
        <img src="https://www.seekpng.com/png/detail/231-2316984_generic-social-media-icon.png" alt="Generic Social Media Icon@seekpng.com">
      </div>
    </div>
  {% endblock %}