{% extends 'core/base.html' %}

  {% block content %}
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <div style="display: flex; place-content: center;">
            <h1 class="title">
              Welcome to Chit-Chatter 👋
            </h1>
          </div>
        </div>
      </div>

      <div style="display: flex; place-content: center;">
        <img src="https://tw-clone-files.s3.ap-south-1.amazonaws.com/static/images/frontpage.png">
      </div>
    </div>
  {% endblock %}