{% extends 'core/base.html' %}

  {% block content %}
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <h1 class="title">
            Login
          </h1>

          <form class="box" action="." method="post">
            {% csrf_token %}
            <p>
              {{ form.errors }}
            </p>
            <div class="field">
              <label class="label">
                {{ form.username.label_tag }}
              </label>
              <div class="control">
                {{ form.username }}
              </div>
            </div>
          
            <div class="field">
              <label class="label">
                {{ form.password.label_tag }}
              </label>

              <div class="control">
                {{ form.password }}
              </div>
            </div>
          
            <button class="button is-success">Log in</button>
          </form>

          <h2>
            Not a registered user?
            <a href="{% url 'signup' %}">
              <span style="text-decoration: underline;">
                Sign up now.
              </span>
            </a>
          </h2>
        </div>
      </div>
    </div>
  {% endblock %}