{% extends 'core/base.html' %}

  {% block content %}
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <h1 class="title">
            Sign Up
          </h1>

          <h3 class="subtitle">
            Create a new account and get started quickly!
          </h3>

          <form action="." method="post" class="box"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button is-success">
              Sign Up
            </button>
          </form>

          <h2>
            Already an existing user?
            <a href="{% url 'login' %}">
              <span style="text-decoration: underline;">
                Log in here.
              </span>
            </a>
          </h2>
          
        </div>
      </div>
    </div>
  {% endblock %}