{% extends 'core/base.html' %}

<!-- make timeformat ezly readable -->
{% load humanize %}

  {% block content %}
    <div class="container" id="feedapp">
      <div class="columns">
        <div class="column is-12">
          <div class="wrapper-form">
            <!-- form for writing tweet -->
            <form @submit.prevent="submitTweet()">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" v-model="body" placeholder="What's new? Tweet and let everyone know!">
                  </textarea>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <button class="button is-success">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>

          <div class="wrapper-tweets">
            <!-- display all followers' tweets -->
            <div class="tweet" v-for="tweet in tweets">
              <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img :src="tweet.avatar" alt="">
                  </p>
                </figure>

                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>
                        [[ tweet.author ]]
                      </strong>

                      <small>
                        [[ tweet.created_at ]]
                      </small>

                      <br>
                      
                      [[ tweet.body ]]
                    </p>
                  </div>
                </div>
              </article>
            </div>

            {% for tweet in tweets %}
              <div class="tweet">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      {% if tweet.created_by.user_profile.avatar %}
                        <img src="{{ tweet.created_by.user_profile.avatar.url }}">
                      {% endif %}
                    </p>
                  </figure>

                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><a href="{% url 'user_profile' tweet.created_by.username %}">{{ oink.created_by.username }}</a></strong>
                        <small>{{ oink.created_at|naturaltime }}</small>
                        <br>
                        {{ oink.body }}
                        <br>
                        <!-- <a @click="likeOink({{ tweet.id}})" v-if="!liked_oinks.includes({{ oink.id }})">Like</a>
                        <span v-if="liked_oinks.includes({{ tweet.id }})">Liked</span>
                        <small id="likes-{{ tweet.id }}">{{ tweet.likes.count }} likes</small> -->
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            {% endfor %}
            
            <!-- display user's tweets
            <div class="tweet" v-for="tweet in tweets">
              <p class="name">
                [[ tweet.author ]]
              </p>
              <p>
                [[ tweet.body ]]
              </p>
              <p class="info">
                [[ tweet.created_at ]]
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block script %}
  <script>
    new Vue({
      el: "#feedapp",
      delimiters: ['[[', ']]'], // change default vue delimiters to [[,]] for vue stuff
      data() {
        return {
          tweets: [],
          body: '',
          author: '{{ request.user.username }}',
          created_at: 'Now',
          avatar: '{% if request.user.user_profile.avatar %} {{ request.user.user_profile.avatar }} {% endif %}'
        }
      },

      methods: {
        // send tweet to backend and save
        submitTweet() {
          console.log("submit tweet")

          if(this.body.length) {
            let tweet = {
              'body': this.body,
              'author': this.author,
              'created_at': this.created_at
            }

            this.tweets.unshift(tweet)

            fetch('/api/add_tweet/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
              },
              credentials: 'same-origin',
              body: JSON.stringify(tweet)
            })
            .then(response => {
              console.log(response)
            })
            .catch(error => {
              console.log(error)
            })
          }

          this.body = ''
        }
      }
    })
  </script>
  {% endblock %}