{% extends 'core/base.html' %}

	{% load humanize %}

	{% block content %}
		<div class="container" id="feedapp">
			<div class="columns">
				<div class="column is-12">
					<div class="wrapper-form">
						<form v-on:submit.prevent="submitTweet()">
							<div class="field">
								<div class="control">
									<textarea class="textarea" v-model.trim="body" placeholder="What's new? Tweet and let everybody know!"></textarea>
								</div>
							</div>

							<div class="field">
								<div class="control">
									<button class="button is-success">Submit</button>
								</div>
							</div>
						</form>
					</div>

					<div class="wrapper-tweets">
						<div class="tweet" v-for="tweet in tweets">
							<article class="media">
								<figure class="media-left">
									<p class="image is-64x64">
										<img :src="tweet.avatar">
									</p>
								</figure>

								<div class="media-content">
									<div class="content">
										<p>
											<strong>
												[[ tweet.author.first_name ]] [[ tweet.author.last_name ]] @[[ tweet.author.username ]]
											</strong>
											<small>[[ tweet.created_at ]]</small>
											<br>
											[[ tweet.body ]]
										</p>
									</div>
								</div>
							</article>
						</div>

						{% for tweet in tweets %}
							<div class="tweet">
								<article class="media">
									<figure class="media-left">
										<p class="image is-64x64">
											{% if tweet.created_by.user_profile.avatar %}
												<img src="{{ tweet.created_by.user_profile.avatar.url }}" style="border-radius: 50%; height: 64px;">
											{% endif %}
										</p>
									</figure>

									<div class="media-content">
										<div class="content">
											<p>
												<a href="{% url 'user_profile' tweet.created_by.username %}">
													<strong>
													{{ tweet.created_by.first_name }} {{ tweet.created_by.last_name }} @{{ tweet.created_by.username }}
													</strong>
												</a>
												
												<small>{{ tweet.created_at|naturaltime }}</small>
												
												<br>
												
												{{ tweet.body|urlize }}
												
												<br>
												
												<a @click="likeTweet({{ tweet.id }})" v-if="!liked_tweets.includes({{ tweet.id }})">Like</a>
												<a @click="unlikeTweet({{ tweet.id }})" v-if="liked_tweets.includes({{ tweet.id }})">Unlike</a>
												<small id="likes-{{ tweet.id }}">
													{% if tweet.likes.count > 1 %}
														{{ tweet.likes.count }} likes
													{% else %}
														{{ tweet.likes.count }} like
													{% endif %}
												</small>
											</p>
										</div>
									</div>
								</article>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block script %}
	<script>
		new Vue({
			el: '#feedapp',

			delimiters: ['[[', ']]'],
			
			data () {
				return {
					tweets: [],
					body: '',
					author: {
						username: '{{ request.user.username }}',
						first_name: '{{ request.user.first_name }}',
						last_name: '{{ request.user.last_name }}',
					},
					created_at: 'Now',
					avatar: '{% if request.user.user_profile.avatar %}{{ request.user.user_profile.avatar.url }}{% endif %}',
					liked_tweets: [{% for tweet in tweets %}{% if tweet.liked %}{{ tweet.id }},{% endif %}{% endfor %}]
				}
			},

			methods: {

				// post new tweet
				submitTweet() {
					if (this.body.length > 0) {
						var tweet = {
							'body': this.body,
							'author': this.author,
							'created_at': this.created_at,
							'avatar': this.avatar
						}

						// api call to save tweet in backend
						fetch('/api/add_tweet/', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json',
								'X-CSRFToken': '{{ csrf_token }}'
							},
							credentials: 'same-origin',
							body: JSON.stringify(tweet)
						})
						.then((response) => {
							this.tweets.unshift(tweet)
							this.body = ''
							window.location.reload(true)
						})
						.catch((error) => {
						})
					}
				},

				// action on clicking like
				likeTweet(tweet_id) {
					const el = document.getElementById('likes-' + tweet_id)
					let likes = parseInt(el.innerText.split(' ')[0])
					this.liked_tweets.push(parseInt(tweet_id))

					var tweet = {
						'tweet_id': tweet_id
					}
					
					// api call to add like
					fetch('/api/add_like/', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': '{{ csrf_token }}'
						},
						credentials: 'same-origin',
						body: JSON.stringify(tweet)
					})
					.then((response) => {
						// on success, increment count
						likes += 1
            if(likes > 1)
              el.innerHTML = parseInt(likes) + ' likes'
            else
              el.innerHTML = parseInt(likes) + ' like'

            window.location.reload(true)
					})
					.catch((error) => {
						console.log(error)
					})
				},

				// action on clicking unlike
				unlikeTweet(tweet_id) {
					const el = document.getElementById('likes-' + tweet_id)
					let likes = parseInt(el.innerText.split(' ')[0])
					
					// find index of tweet and remove from list of likes
					let tweetIdIdx = this.liked_tweets.findIndex(t => t == tweet_id)
					this.liked_tweets.splice(tweetIdIdx, 1)

					var tweet = {
						'tweet_id': tweet_id
					}
					
					// api call to delete like
					fetch('/api/delete_like/', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
							'X-CSRFToken': '{{ csrf_token }}'
						},
						credentials: 'same-origin',
						body: JSON.stringify(tweet)
					})
					.then((response) => {
						// on success, decrement count
						likes -= 1
            if(likes > 1)
              el.innerHTML = parseInt(likes) + ' likes'
            else
              el.innerHTML = parseInt(likes) + ' like'

            window.location.reload(true)
					})
					.catch((error) => {
						console.log(error)
					})
				},
			},

			created() {}
		})
	</script>
{% endblock %}