{% extends 'core/base.html' %}

  {% load humanize %}
  
  {% block content %}
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <h1 class="title">
            Search
          </h1>

          <p>
            Search term: "{{ query }}"
          </p>

          <hr>

          <form action="{% url 'search' %}" method="get">
            <div class="field">
              <div class="control">
                <input type="text" class="input" name="query" value="{{ query }}">
              </div>
            </div>

            <div class="field">
              <p class="control">
                <button class="buttons is-success" type="submit">
                  Search
                </button>
              </p>
            </div>
          </form>

          <hr>

          <div class="search-results">
            <!-- if none availabe, show placeholder text -->
            {% if not tweets and not authors %}
              <p>
                No results, please try a different search query.
              </p>
            {% endif %}
            
            <!-- if tweets available, loop and display -->
            {% if tweets %}
              <p class="title is-3">Tweets:</p>
              
              <div class="wrapper-tweets">
                {% for tweet in tweets %}
                  <div class="tweet">
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-64x64">
                          {% if tweet.created_by.user_profile.avatar %}
                            <img src="{{ tweet.created_by.user_profile.avatar.url }}">
                          {% endif %}
                        </p>
                      </figure>
    
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>
                              <!-- click to visit profile -->
                              <a href="{% url 'user_profile' tweet.created_by.username %}">
                                @{{ tweet.created_by.username }}
                              </a>
                            </strong>
                            
                            <small>{{ tweet.created_at|naturaltime }}</small>
                            <br>
                            
                            {{ tweet.body }}
                            
                            <br>
                            <!-- <a @click="likeTweet({{ tweet.id}})" v-if="!liked_tweets.includes({{ tweet.id }})">Like</a>
                            <span v-if="liked_tweets.includes({{ tweet.id }})">Liked</span>
                            <small id="likes-{{ tweet.id }}">
                              {% if tweet.likes.count > 1 %}
                                {{ tweet.likes.count }} likes
                              {% else %}
                                {{ tweet.likes.count }} like
                              {% endif %}
                            </small> -->
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <!-- if authors available, loop and display -->
            {% if authors %}
              <p class="title is-3">Users:</p>

              <div class="wrapper-tweets">
                {% for author in authors %}
                  <div class="tweet">
                    <article class="media">
                      <figure class="media-left">
                        <p class="image is-64x64">
                          {% if author.user_profile.avatar %}
                            <img src="{{ author.user_profile.avatar.url }}" style="border-radius: 50%;">
                          {% endif %}
                        </p>
                      </figure>
    
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>
                              <!-- click to visit profile -->
                              <a href="{% url 'user_profile' author.username %}">
                                {{ author.first_name }} {{ author.last_name }} @{{ author.username }}
                              </a>
                            </strong>
                            
                            <br>
                            Followers: {{ author.user_profile.followed_by.count }}
                            <br>
                            Followings: {{ author.user_profile.follows.count }}
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}